[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sendgrid = "*"
flask = "*"
sqlalchemy = "*"
pytest = "*"
mixpanel = "*"
pymysql = "*"
python-http-client = "*"
libgravatar = "*"

[requires]
python_version = "3.7.1"
